<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Home - Stackful.io XKCD Django demo</title>
    <style type="text/css">
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    </style>
  </head>
<body style="width: 100%, height: 100%">
  <img class="center" src="http://imgs.xkcd.com/comics/python.png">
  <p class="center"><a href="http://stackful.io">Stackful.io Home</a></p>
</body>
</html>
